#drawpath{
    background-color: rgb(17, 81, 133) !important;
    border-radius: 1000px;
    background-image: none !important;
    opacity: 0.85;
  }

#postrun{
    background-color: rgb(17, 81, 133) !important;
    border-radius: 1000px;
    background-image: none !important;
    opacity: 0.85;
}

#resetform{
    background-color: rgb(17, 81, 133) !important;
    border-radius: 1000px;
    background-image: none !important;
    opacity: 0.85;
}
